# Build -----------------------------------------------------------------------

### Output and Cache Directories ###
/External/
/Debug/
/Docs/
/Release/
/build/
/bin/
/out/
/cmake-build-*/

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
#Makefile
cmake_install.cmake
install_manifest.txt

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o

### XCode ###
xcuserdata/

*.xcodeproj

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Gcc Patch
/*.gcno

### Intellij ###
# Covers JetBrains IDE: CLion
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

### Simulation Results ###
/InputTest*/
InputParameterOptions.txt
brain_sim_comp/.vs/brain_sim_comp/v17/.suo
*.db
brain_sim_comp/.vs/brain_sim_comp/v17/ipch/AutoPCH/7dc8dead83c479e1/ADVANCEDRECORDER.ipch
brain_sim_comp/.vs/brain_sim_comp/v17/ipch/AutoPCH/f3f43a0ad7516104/SYNAPSESAMPLE.ipch
brain_sim_comp/brain_sim_comp.sln
brain_sim_comp/brain_sim_comp.vcxproj
brain_sim_comp/brain_sim_comp.vcxproj.filters
brain_sim_comp/brain_sim_comp.vcxproj.user
